body
{
  background-color: #1D2951;
  color: white;
}

input
{
  background-color:  #1D2951;
}
.NavBar
{

      display: flex;
      margin: 10px;
      justify-content: space-between;

}


#s::after
{
  content: 'Coding Media';
}

.outer
{
  display: flex;

}

#main
{
  width: 70%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right:100px;
  display: flex;
  flex-direction: column;

}

#carousel
{
  width: 100%;
  box-sizing: border-box;
}



#latest_release
{

  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
   
}


#latest-release
{
  display: flex;
  flex-direction: column;
}

#latest-release-main
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

#element
{
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  width: 40%;
}

#artist-cover
{
  width: 30%;
  box-sizing: border-box;
}

#artist-details
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  box-sizing: border-box;
}



#artist-dropdown
{
  box-sizing: border-box;
}

#artist-name-time
{
box-sizing: border-box;
}

#artist-other
{
  box-sizing: border-box;
}


#popular_artist
{


  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
}

#popular-artists
{
  display: flex;
  flex-direction: column;
    box-sizing: border-box;
  width: 100%;
}

#popular-artists-main
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
    box-sizing: border-box;
}

#element-p
{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  width: 15%;
  height: 150px;
  margin-right: 5px;
  align-items: center;
}

#artist-cover-p
{

  box-sizing: border-box;

  border-radius: 50%;
  overflow: contain;
  display: block;

}

#aa
{
  width: 100%;
  
    border-radius: 50%;
}

#asidee
{
  width: 30%;
  box-sizing: border-box;

}

